
.form
{
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.form input
{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
}

input:focus, {
    border:1px solid #97d6eb;
}
.section
{
	width: 100%;
}
label
{
	width: 40%;
	font-size: 2em;
	color:white;
	font-family: "Arial Black", Arial, Verdana, sans-serif;


}
.well
{
	background-color: #00CED1;//darkblue

}
.pdf
{
	margin-bottom: 1%;
	height: 80px;
}
.navbar-nav {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.nav>li>a {
        padding: 20px;
}
.navbar-nav>li>a {
			 line-height: normal;
	 }
li
{
	border-right:  2px solid black;
	border-left:  2px solid black;
	background-color: #F08080;

}
ul
{
	width: 100%;
	margin-left: 50%;
}
