		<!-- Navigation -->
<header>
    <nav class="dropdown" role="navigation">
        <button type="button" title="parameters" class="btn btn-info btn-lg glyphicon glyphicon-align-justify dropdown-toggle" id="parameters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Parameters </button>
		<!-- parameters -->
		<ul class="dropdown-menu" aria-labelledby="parameters" role="menu">
			<li class="dropdown-header">Corporation</li>
			<li><a href="logo/logo.php" title="Logo">Logo</a></li>
			<li><a href="#" title="Lien 2">Details</a></li>
			<li><a href="#" title="Lien 3">Contact</a></li>
			<li><a href="#" title="Lien 4">Credit cards</a></li>
		</ul>
    </nav>
</header>